.my-self {
  overflow-x: hidden;
  padding: 35vh 0;

}

.my-self__photo {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.my-self__photo--maginfier-glass {
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-image: url("../../public/assets/images/pictureOfMe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 300px;
  transition: width 0.2s, height 0.2s;
  z-index: 2;
}

.my-self__photo__img{
  display: block;
  height: 100%;
  margin: 0 auto;
  opacity: 0;
}

.my-self__photo__title {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.my-self__photo__title__text {
  white-space: nowrap;
  overflow: hidden;
  font-size: 10rem;
  color: #1a1a1a;
  text-shadow: -10px -10px 10px grey;
  transform: translateX(-100%);
}
