*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4, h5, h6, a {
  font-family: 'Oswald', sans-serif; }

.start {
  background-color: #efefef; }

.start__text {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 50px; }

.start__text__quote {
  font-size: 4rem;
  text-align: center; }

.start__text__author {
  margin-top: 5%;
  margin-bottom: 5%; }

@media (max-width: 1023px) {
  .start__text {
    margin: 0 20px; }
  .start__text__quote {
    font-size: 3.5rem; } }

.my-self {
  overflow-x: hidden;
  padding: 35vh 0; }

.my-self__photo {
  position: relative;
  width: 100vw;
  height: 100vh; }

.my-self__photo--maginfier-glass {
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-image: url(../images/pictureOfMe.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 300px;
  transition: width 0.2s, height 0.2s;
  z-index: 2; }

.my-self__photo__img {
  display: block;
  height: 100%;
  margin: 0 auto;
  opacity: 0; }

.my-self__photo__title {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1; }

.my-self__photo__title__text {
  white-space: nowrap;
  overflow: hidden;
  font-size: 10rem;
  color: #1a1a1a;
  text-shadow: -10px -10px 10px grey;
  transform: translateX(-100%); }

.aboutme {
  position: relative;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden; }

.aboutme__star--small {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1823px 636px #FFF , 1267px 1693px #FFF , 407px 809px #FFF , 1428px 799px #FFF , 1041px 1336px #FFF , 1769px 1391px #FFF , 1399px 321px #FFF , 297px 1394px #FFF , 1176px 1452px #FFF , 1997px 681px #FFF , 174px 1490px #FFF , 206px 1256px #FFF , 1934px 572px #FFF , 822px 318px #FFF , 898px 236px #FFF , 506px 1265px #FFF , 354px 889px #FFF , 1570px 103px #FFF , 1467px 1042px #FFF , 216px 547px #FFF , 644px 210px #FFF , 377px 1544px #FFF , 889px 915px #FFF , 433px 586px #FFF , 1527px 1112px #FFF , 1598px 1293px #FFF , 1858px 758px #FFF , 1452px 1980px #FFF , 561px 171px #FFF , 1198px 1426px #FFF , 1867px 970px #FFF , 467px 221px #FFF , 1827px 267px #FFF , 1302px 890px #FFF , 906px 1316px #FFF , 501px 846px #FFF , 990px 1805px #FFF , 634px 833px #FFF , 1811px 108px #FFF , 535px 963px #FFF , 1473px 519px #FFF , 58px 836px #FFF , 660px 94px #FFF , 554px 1794px #FFF , 414px 876px #FFF , 528px 1839px #FFF , 485px 1628px #FFF , 1092px 281px #FFF , 1973px 1602px #FFF , 257px 639px #FFF , 1190px 1742px #FFF , 1682px 961px #FFF , 3px 370px #FFF , 342px 936px #FFF , 1122px 1263px #FFF , 1766px 133px #FFF , 1163px 1590px #FFF , 1913px 1675px #FFF , 900px 1923px #FFF , 1655px 932px #FFF , 18px 1576px #FFF , 903px 1456px #FFF , 1646px 372px #FFF , 54px 1612px #FFF , 1057px 1274px #FFF , 596px 1385px #FFF , 1044px 1423px #FFF , 988px 90px #FFF , 1158px 854px #FFF , 1536px 887px #FFF , 306px 1483px #FFF , 1526px 1249px #FFF , 313px 862px #FFF , 1617px 1368px #FFF , 210px 474px #FFF , 88px 129px #FFF , 710px 815px #FFF , 1685px 578px #FFF , 1238px 23px #FFF , 1525px 418px #FFF , 1191px 1758px #FFF , 35px 1216px #FFF , 1542px 1206px #FFF , 725px 1918px #FFF , 1773px 1440px #FFF , 358px 1172px #FFF , 708px 1389px #FFF , 1748px 250px #FFF , 518px 1441px #FFF , 944px 1481px #FFF , 1953px 709px #FFF , 412px 1885px #FFF , 1690px 267px #FFF , 1348px 155px #FFF , 1107px 1744px #FFF , 1760px 709px #FFF , 319px 438px #FFF , 1911px 877px #FFF , 1839px 692px #FFF , 484px 1522px #FFF , 1264px 423px #FFF , 1543px 1719px #FFF , 65px 1177px #FFF , 1297px 542px #FFF , 749px 310px #FFF , 38px 1176px #FFF , 703px 371px #FFF , 647px 695px #FFF , 1997px 1394px #FFF , 1969px 856px #FFF , 1488px 1079px #FFF , 495px 291px #FFF , 1031px 943px #FFF , 1952px 1379px #FFF , 1513px 739px #FFF , 629px 1237px #FFF , 1479px 664px #FFF , 1551px 604px #FFF , 1842px 582px #FFF , 502px 198px #FFF , 530px 789px #FFF , 87px 839px #FFF , 583px 75px #FFF , 485px 564px #FFF , 1538px 401px #FFF , 1239px 1630px #FFF , 1239px 679px #FFF , 1129px 210px #FFF , 16px 669px #FFF , 1772px 586px #FFF , 1535px 422px #FFF , 954px 700px #FFF , 1589px 1635px #FFF , 127px 1933px #FFF , 276px 128px #FFF , 328px 1349px #FFF , 536px 829px #FFF , 1702px 308px #FFF , 436px 1328px #FFF , 130px 1794px #FFF , 877px 608px #FFF , 572px 804px #FFF , 1813px 1423px #FFF , 422px 1295px #FFF , 1728px 1916px #FFF , 579px 417px #FFF , 1995px 1493px #FFF , 1186px 543px #FFF , 713px 413px #FFF , 1083px 678px #FFF , 1855px 157px #FFF , 1333px 466px #FFF , 488px 123px #FFF , 429px 1742px #FFF , 155px 1749px #FFF , 1910px 865px #FFF , 1222px 551px #FFF , 1323px 37px #FFF , 801px 934px #FFF , 1044px 551px #FFF , 418px 1527px #FFF , 667px 508px #FFF , 1535px 664px #FFF , 1978px 335px #FFF , 22px 135px #FFF , 1499px 1351px #FFF , 1440px 711px #FFF , 123px 1623px #FFF , 296px 543px #FFF , 1697px 1266px #FFF , 1277px 335px #FFF , 900px 1093px #FFF , 1347px 1171px #FFF , 133px 1566px #FFF , 33px 1748px #FFF , 1392px 364px #FFF , 1241px 67px #FFF , 117px 145px #FFF , 836px 1646px #FFF , 948px 1811px #FFF , 21px 923px #FFF , 754px 666px #FFF , 1890px 654px #FFF , 659px 671px #FFF , 1682px 1833px #FFF , 1265px 633px #FFF , 1486px 328px #FFF , 1433px 1637px #FFF , 865px 1701px #FFF , 762px 552px #FFF , 1133px 839px #FFF , 1716px 125px #FFF , 1438px 140px #FFF , 1885px 1985px #FFF , 1144px 981px #FFF , 1420px 1240px #FFF , 1003px 628px #FFF , 1730px 819px #FFF , 12px 25px #FFF , 309px 111px #FFF , 681px 1368px #FFF , 494px 1914px #FFF , 1293px 47px #FFF , 964px 1916px #FFF , 1219px 1000px #FFF , 1249px 1778px #FFF , 38px 161px #FFF , 75px 1535px #FFF , 90px 1603px #FFF , 890px 995px #FFF , 1063px 1377px #FFF , 1788px 1526px #FFF , 77px 1831px #FFF , 1261px 1881px #FFF , 1125px 1917px #FFF , 1491px 640px #FFF , 1145px 1641px #FFF , 759px 1939px #FFF , 1286px 478px #FFF , 396px 1464px #FFF , 1289px 1120px #FFF , 1142px 1794px #FFF , 1368px 529px #FFF , 727px 449px #FFF , 19px 855px #FFF , 1906px 1782px #FFF , 1113px 292px #FFF , 437px 1990px #FFF , 554px 431px #FFF , 1244px 1616px #FFF , 150px 1098px #FFF , 1064px 841px #FFF , 1142px 1977px #FFF , 1307px 1311px #FFF , 96px 1122px #FFF , 192px 86px #FFF , 414px 1145px #FFF , 683px 1031px #FFF , 1805px 1929px #FFF , 1084px 1513px #FFF , 1979px 1263px #FFF , 179px 28px #FFF , 202px 1963px #FFF , 313px 1679px #FFF , 1903px 675px #FFF , 927px 829px #FFF , 640px 652px #FFF , 1777px 486px #FFF , 1578px 1147px #FFF , 1738px 1753px #FFF , 883px 1310px #FFF , 861px 1644px #FFF , 1483px 747px #FFF , 1605px 973px #FFF , 103px 216px #FFF , 1181px 1192px #FFF , 1701px 1551px #FFF , 1798px 548px #FFF , 1059px 1836px #FFF , 1867px 1650px #FFF , 1193px 576px #FFF , 1416px 1133px #FFF , 1746px 300px #FFF , 1822px 1515px #FFF , 1767px 675px #FFF , 141px 516px #FFF , 959px 477px #FFF , 95px 606px #FFF , 327px 1022px #FFF , 1746px 1961px #FFF , 1731px 723px #FFF , 1656px 1932px #FFF , 1471px 28px #FFF , 540px 588px #FFF , 1028px 366px #FFF , 1543px 1711px #FFF , 887px 618px #FFF , 1023px 438px #FFF , 1476px 1659px #FFF , 991px 665px #FFF , 755px 957px #FFF , 1596px 1595px #FFF , 476px 388px #FFF , 216px 675px #FFF , 241px 1946px #FFF , 763px 435px #FFF , 1179px 856px #FFF , 1100px 696px #FFF , 375px 392px #FFF , 313px 734px #FFF , 1768px 1774px #FFF , 483px 1275px #FFF , 1204px 359px #FFF , 792px 389px #FFF , 1981px 397px #FFF , 1035px 256px #FFF , 601px 1075px #FFF , 911px 928px #FFF , 1765px 77px #FFF , 1742px 602px #FFF , 802px 1967px #FFF , 66px 1730px #FFF , 1414px 1781px #FFF , 1514px 1624px #FFF , 1717px 1116px #FFF , 421px 1830px #FFF , 1382px 658px #FFF , 1233px 1965px #FFF , 74px 221px #FFF , 1036px 1429px #FFF , 366px 1506px #FFF , 764px 904px #FFF , 1656px 1817px #FFF , 1358px 848px #FFF , 368px 571px #FFF , 1546px 1896px #FFF , 1641px 970px #FFF , 1511px 1370px #FFF , 455px 123px #FFF , 1073px 32px #FFF , 320px 1467px #FFF , 797px 918px #FFF , 538px 520px #FFF , 163px 1144px #FFF , 1425px 1072px #FFF , 758px 268px #FFF , 1187px 1033px #FFF , 907px 610px #FFF , 331px 927px #FFF , 1511px 1484px #FFF , 1135px 879px #FFF , 1175px 168px #FFF , 251px 1318px #FFF , 1568px 1527px #FFF , 1019px 147px #FFF , 1954px 899px #FFF , 331px 1808px #FFF , 439px 401px #FFF , 1044px 1043px #FFF , 886px 1976px #FFF , 563px 1639px #FFF , 320px 898px #FFF , 1853px 56px #FFF , 601px 1261px #FFF , 1227px 1865px #FFF , 20px 433px #FFF , 136px 681px #FFF , 1368px 381px #FFF , 861px 1735px #FFF , 1289px 1883px #FFF , 606px 190px #FFF , 498px 1556px #FFF , 1090px 1196px #FFF , 1216px 1229px #FFF , 1671px 1764px #FFF , 1276px 1864px #FFF , 1648px 428px #FFF , 612px 671px #FFF , 1217px 1198px #FFF , 1569px 60px #FFF , 1928px 730px #FFF , 1918px 1481px #FFF , 1130px 251px #FFF , 561px 1378px #FFF , 208px 1065px #FFF , 870px 1583px #FFF , 841px 568px #FFF , 563px 377px #FFF , 845px 1239px #FFF , 221px 531px #FFF , 1948px 1351px #FFF , 78px 1768px #FFF , 39px 669px #FFF , 1615px 633px #FFF , 1506px 710px #FFF , 1550px 620px #FFF , 1137px 587px #FFF , 1389px 1548px #FFF , 403px 16px #FFF , 1283px 1896px #FFF , 911px 1105px #FFF , 389px 1846px #FFF , 1851px 200px #FFF , 142px 1628px #FFF , 1914px 1467px #FFF , 915px 886px #FFF , 1073px 49px #FFF , 169px 510px #FFF , 1290px 1711px #FFF , 1239px 1535px #FFF , 707px 1917px #FFF , 723px 355px #FFF , 1145px 1929px #FFF , 1082px 1834px #FFF , 128px 19px #FFF , 1810px 1424px #FFF , 1877px 447px #FFF , 34px 893px #FFF , 549px 1446px #FFF , 888px 1286px #FFF , 1837px 82px #FFF , 1701px 1560px #FFF , 460px 587px #FFF , 1827px 288px #FFF , 1037px 383px #FFF , 700px 140px #FFF , 556px 194px #FFF , 1147px 1301px #FFF , 1861px 55px #FFF , 854px 226px #FFF , 1571px 326px #FFF , 1341px 1291px #FFF , 976px 576px #FFF , 1477px 1924px #FFF , 712px 248px #FFF , 557px 1423px #FFF , 661px 849px #FFF , 374px 1227px #FFF , 298px 1272px #FFF , 1505px 1574px #FFF , 255px 1026px #FFF , 1906px 1356px #FFF , 1048px 250px #FFF , 1971px 1637px #FFF , 1831px 346px #FFF , 1389px 1383px #FFF , 727px 430px #FFF , 497px 207px #FFF , 1045px 1077px #FFF , 347px 1977px #FFF , 618px 1511px #FFF , 642px 1828px #FFF , 1171px 1039px #FFF , 1625px 1805px #FFF , 739px 108px #FFF , 1073px 1039px #FFF , 1480px 1530px #FFF , 889px 818px #FFF , 949px 1106px #FFF , 1433px 175px #FFF , 1458px 1573px #FFF , 1622px 1897px #FFF , 361px 986px #FFF , 231px 1669px #FFF , 945px 1545px #FFF , 62px 922px #FFF , 1015px 102px #FFF , 742px 254px #FFF , 1732px 1528px #FFF , 67px 438px #FFF , 1196px 24px #FFF , 574px 165px #FFF , 361px 1007px #FFF , 311px 1541px #FFF , 535px 42px #FFF , 1750px 481px #FFF , 1817px 489px #FFF , 439px 1556px #FFF , 1953px 1722px #FFF , 1712px 1600px #FFF , 1769px 1978px #FFF , 658px 1582px #FFF , 1849px 1845px #FFF , 1709px 1401px #FFF , 836px 680px #FFF , 1798px 1747px #FFF , 684px 1852px #FFF , 1575px 538px #FFF , 667px 468px #FFF , 742px 1595px #FFF , 1882px 1144px #FFF , 533px 1901px #FFF , 1950px 1346px #FFF , 771px 1337px #FFF , 1410px 662px #FFF , 334px 1021px #FFF , 1010px 1521px #FFF , 1801px 121px #FFF , 649px 1074px #FFF , 628px 330px #FFF , 1801px 216px #FFF , 669px 508px #FFF , 1859px 1188px #FFF , 189px 1892px #FFF , 1225px 793px #FFF , 1888px 1515px #FFF , 773px 939px #FFF , 1169px 773px #FFF , 1737px 645px #FFF , 1102px 173px #FFF , 200px 58px #FFF , 1891px 1595px #FFF , 1961px 1473px #FFF , 1418px 784px #FFF , 77px 1260px #FFF , 1567px 1871px #FFF , 1553px 523px #FFF , 1420px 1697px #FFF , 1111px 1884px #FFF , 685px 610px #FFF , 1471px 326px #FFF , 1931px 886px #FFF , 745px 1216px #FFF , 516px 165px #FFF , 1625px 487px #FFF , 1205px 450px #FFF , 283px 1614px #FFF , 893px 451px #FFF , 698px 1697px #FFF , 1365px 2px #FFF , 1425px 1201px #FFF , 323px 750px #FFF , 1119px 381px #FFF , 1512px 1869px #FFF , 1120px 14px #FFF , 1842px 424px #FFF , 1314px 1562px #FFF , 911px 310px #FFF , 349px 1850px #FFF , 1296px 662px #FFF , 1096px 107px #FFF , 1373px 513px #FFF , 1172px 211px #FFF , 419px 1153px #FFF , 1406px 276px #FFF , 1186px 1378px #FFF , 1651px 1017px #FFF , 1099px 252px #FFF , 410px 1467px #FFF , 1659px 650px #FFF , 775px 415px #FFF , 1779px 582px #FFF , 1856px 426px #FFF , 1609px 230px #FFF , 1165px 1883px #FFF , 1131px 1792px #FFF , 1648px 1730px #FFF , 856px 1353px #FFF , 1145px 187px #FFF , 217px 640px #FFF , 1668px 33px #FFF , 122px 1713px #FFF , 1534px 391px #FFF , 464px 1401px #FFF , 772px 407px #FFF , 1188px 1104px #FFF , 1743px 208px #FFF , 389px 1357px #FFF , 637px 1777px #FFF , 1124px 556px #FFF , 815px 549px #FFF , 1499px 848px #FFF , 491px 160px #FFF , 915px 1142px #FFF , 1780px 1317px #FFF , 1473px 1640px #FFF , 461px 1685px #FFF , 148px 462px #FFF , 333px 1135px #FFF , 21px 1644px #FFF , 811px 1758px #FFF , 1969px 555px #FFF , 1103px 647px #FFF , 516px 1878px #FFF , 1383px 1606px #FFF , 754px 1803px #FFF , 285px 562px #FFF , 1867px 1608px #FFF , 1230px 1962px #FFF , 674px 1042px #FFF , 762px 193px #FFF , 791px 675px #FFF , 355px 841px #FFF , 1338px 257px #FFF , 1187px 1913px #FFF , 1929px 1387px #FFF , 713px 1146px #FFF , 540px 310px #FFF , 1663px 1419px #FFF , 613px 1283px #FFF , 1396px 1895px #FFF , 982px 1547px #FFF , 1639px 1447px #FFF , 462px 1456px #FFF , 1047px 633px #FFF , 719px 839px #FFF , 1357px 1833px #FFF , 1709px 335px #FFF , 101px 1451px #FFF , 1816px 1191px #FFF , 1229px 244px #FFF , 488px 381px #FFF , 1898px 266px #FFF , 1251px 483px #FFF , 584px 1385px #FFF , 1903px 324px #FFF , 1213px 1333px #FFF , 1518px 1172px #FFF , 804px 1085px #FFF , 1948px 181px #FFF , 538px 1949px #FFF , 1407px 149px #FFF , 504px 393px #FFF , 1348px 206px #FFF , 591px 233px #FFF , 1869px 1321px #FFF , 1439px 1385px #FFF , 862px 1584px #FFF , 1182px 115px #FFF , 1576px 731px #FFF , 1406px 292px #FFF , 406px 320px #FFF , 633px 1982px #FFF , 542px 1132px #FFF , 1480px 1773px #FFF , 49px 248px #FFF , 1564px 131px #FFF , 1325px 755px #FFF , 534px 1009px #FFF , 1326px 182px #FFF , 961px 1985px #FFF , 471px 535px #FFF , 1510px 908px #FFF , 695px 1244px #FFF , 188px 427px #FFF , 1068px 1814px #FFF , 499px 1578px #FFF , 145px 1023px #FFF , 152px 153px #FFF , 350px 698px #FFF , 1005px 241px #FFF , 200px 1251px #FFF , 1724px 241px #FFF , 628px 1018px #FFF , 787px 239px #FFF , 224px 40px #FFF , 104px 1298px #FFF , 1692px 1482px #FFF , 1906px 571px #FFF , 1226px 1062px #FFF , 603px 109px #FFF , 1766px 551px #FFF , 307px 1004px #FFF , 577px 1401px #FFF , 197px 1700px #FFF , 1155px 1089px #FFF , 1300px 1555px #FFF , 1019px 158px #FFF , 1039px 1845px #FFF , 605px 328px #FFF , 1046px 1027px #FFF , 1134px 1134px #FFF , 120px 77px #FFF , 1628px 148px #FFF , 1016px 1529px #FFF , 1542px 1638px #FFF , 364px 149px #FFF , 429px 1082px #FFF , 950px 362px #FFF , 1114px 1798px #FFF , 722px 510px #FFF , 1916px 1229px #FFF , 247px 86px #FFF , 1338px 323px #FFF , 1565px 1087px #FFF , 1692px 308px #FFF , 363px 125px #FFF , 1942px 1854px #FFF , 1483px 1976px #FFF , 1069px 821px #FFF , 305px 1555px #FFF , 77px 1716px #FFF , 702px 1148px #FFF , 1025px 847px #FFF , 1201px 1275px #FFF , 363px 1693px #FFF , 1346px 1255px #FFF , 1621px 1033px #FFF , 1073px 1104px #FFF , 622px 1521px #FFF , 1338px 1683px #FFF , 619px 1883px #FFF , 111px 1694px #FFF , 946px 895px #FFF , 23px 169px #FFF , 458px 1752px #FFF , 1160px 1570px #FFF , 1689px 14px #FFF , 728px 657px #FFF , 1912px 1173px #FFF , 818px 1685px #FFF , 1501px 327px #FFF , 913px 1353px #FFF , 807px 757px #FFF , 1384px 930px #FFF , 1458px 485px #FFF , 1495px 1397px #FFF , 615px 1486px #FFF , 525px 909px #FFF , 1165px 1299px #FFF;
  animation: animStar 50s linear infinite; }
  .aboutme__star--small:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1823px 636px #FFF , 1267px 1693px #FFF , 407px 809px #FFF , 1428px 799px #FFF , 1041px 1336px #FFF , 1769px 1391px #FFF , 1399px 321px #FFF , 297px 1394px #FFF , 1176px 1452px #FFF , 1997px 681px #FFF , 174px 1490px #FFF , 206px 1256px #FFF , 1934px 572px #FFF , 822px 318px #FFF , 898px 236px #FFF , 506px 1265px #FFF , 354px 889px #FFF , 1570px 103px #FFF , 1467px 1042px #FFF , 216px 547px #FFF , 644px 210px #FFF , 377px 1544px #FFF , 889px 915px #FFF , 433px 586px #FFF , 1527px 1112px #FFF , 1598px 1293px #FFF , 1858px 758px #FFF , 1452px 1980px #FFF , 561px 171px #FFF , 1198px 1426px #FFF , 1867px 970px #FFF , 467px 221px #FFF , 1827px 267px #FFF , 1302px 890px #FFF , 906px 1316px #FFF , 501px 846px #FFF , 990px 1805px #FFF , 634px 833px #FFF , 1811px 108px #FFF , 535px 963px #FFF , 1473px 519px #FFF , 58px 836px #FFF , 660px 94px #FFF , 554px 1794px #FFF , 414px 876px #FFF , 528px 1839px #FFF , 485px 1628px #FFF , 1092px 281px #FFF , 1973px 1602px #FFF , 257px 639px #FFF , 1190px 1742px #FFF , 1682px 961px #FFF , 3px 370px #FFF , 342px 936px #FFF , 1122px 1263px #FFF , 1766px 133px #FFF , 1163px 1590px #FFF , 1913px 1675px #FFF , 900px 1923px #FFF , 1655px 932px #FFF , 18px 1576px #FFF , 903px 1456px #FFF , 1646px 372px #FFF , 54px 1612px #FFF , 1057px 1274px #FFF , 596px 1385px #FFF , 1044px 1423px #FFF , 988px 90px #FFF , 1158px 854px #FFF , 1536px 887px #FFF , 306px 1483px #FFF , 1526px 1249px #FFF , 313px 862px #FFF , 1617px 1368px #FFF , 210px 474px #FFF , 88px 129px #FFF , 710px 815px #FFF , 1685px 578px #FFF , 1238px 23px #FFF , 1525px 418px #FFF , 1191px 1758px #FFF , 35px 1216px #FFF , 1542px 1206px #FFF , 725px 1918px #FFF , 1773px 1440px #FFF , 358px 1172px #FFF , 708px 1389px #FFF , 1748px 250px #FFF , 518px 1441px #FFF , 944px 1481px #FFF , 1953px 709px #FFF , 412px 1885px #FFF , 1690px 267px #FFF , 1348px 155px #FFF , 1107px 1744px #FFF , 1760px 709px #FFF , 319px 438px #FFF , 1911px 877px #FFF , 1839px 692px #FFF , 484px 1522px #FFF , 1264px 423px #FFF , 1543px 1719px #FFF , 65px 1177px #FFF , 1297px 542px #FFF , 749px 310px #FFF , 38px 1176px #FFF , 703px 371px #FFF , 647px 695px #FFF , 1997px 1394px #FFF , 1969px 856px #FFF , 1488px 1079px #FFF , 495px 291px #FFF , 1031px 943px #FFF , 1952px 1379px #FFF , 1513px 739px #FFF , 629px 1237px #FFF , 1479px 664px #FFF , 1551px 604px #FFF , 1842px 582px #FFF , 502px 198px #FFF , 530px 789px #FFF , 87px 839px #FFF , 583px 75px #FFF , 485px 564px #FFF , 1538px 401px #FFF , 1239px 1630px #FFF , 1239px 679px #FFF , 1129px 210px #FFF , 16px 669px #FFF , 1772px 586px #FFF , 1535px 422px #FFF , 954px 700px #FFF , 1589px 1635px #FFF , 127px 1933px #FFF , 276px 128px #FFF , 328px 1349px #FFF , 536px 829px #FFF , 1702px 308px #FFF , 436px 1328px #FFF , 130px 1794px #FFF , 877px 608px #FFF , 572px 804px #FFF , 1813px 1423px #FFF , 422px 1295px #FFF , 1728px 1916px #FFF , 579px 417px #FFF , 1995px 1493px #FFF , 1186px 543px #FFF , 713px 413px #FFF , 1083px 678px #FFF , 1855px 157px #FFF , 1333px 466px #FFF , 488px 123px #FFF , 429px 1742px #FFF , 155px 1749px #FFF , 1910px 865px #FFF , 1222px 551px #FFF , 1323px 37px #FFF , 801px 934px #FFF , 1044px 551px #FFF , 418px 1527px #FFF , 667px 508px #FFF , 1535px 664px #FFF , 1978px 335px #FFF , 22px 135px #FFF , 1499px 1351px #FFF , 1440px 711px #FFF , 123px 1623px #FFF , 296px 543px #FFF , 1697px 1266px #FFF , 1277px 335px #FFF , 900px 1093px #FFF , 1347px 1171px #FFF , 133px 1566px #FFF , 33px 1748px #FFF , 1392px 364px #FFF , 1241px 67px #FFF , 117px 145px #FFF , 836px 1646px #FFF , 948px 1811px #FFF , 21px 923px #FFF , 754px 666px #FFF , 1890px 654px #FFF , 659px 671px #FFF , 1682px 1833px #FFF , 1265px 633px #FFF , 1486px 328px #FFF , 1433px 1637px #FFF , 865px 1701px #FFF , 762px 552px #FFF , 1133px 839px #FFF , 1716px 125px #FFF , 1438px 140px #FFF , 1885px 1985px #FFF , 1144px 981px #FFF , 1420px 1240px #FFF , 1003px 628px #FFF , 1730px 819px #FFF , 12px 25px #FFF , 309px 111px #FFF , 681px 1368px #FFF , 494px 1914px #FFF , 1293px 47px #FFF , 964px 1916px #FFF , 1219px 1000px #FFF , 1249px 1778px #FFF , 38px 161px #FFF , 75px 1535px #FFF , 90px 1603px #FFF , 890px 995px #FFF , 1063px 1377px #FFF , 1788px 1526px #FFF , 77px 1831px #FFF , 1261px 1881px #FFF , 1125px 1917px #FFF , 1491px 640px #FFF , 1145px 1641px #FFF , 759px 1939px #FFF , 1286px 478px #FFF , 396px 1464px #FFF , 1289px 1120px #FFF , 1142px 1794px #FFF , 1368px 529px #FFF , 727px 449px #FFF , 19px 855px #FFF , 1906px 1782px #FFF , 1113px 292px #FFF , 437px 1990px #FFF , 554px 431px #FFF , 1244px 1616px #FFF , 150px 1098px #FFF , 1064px 841px #FFF , 1142px 1977px #FFF , 1307px 1311px #FFF , 96px 1122px #FFF , 192px 86px #FFF , 414px 1145px #FFF , 683px 1031px #FFF , 1805px 1929px #FFF , 1084px 1513px #FFF , 1979px 1263px #FFF , 179px 28px #FFF , 202px 1963px #FFF , 313px 1679px #FFF , 1903px 675px #FFF , 927px 829px #FFF , 640px 652px #FFF , 1777px 486px #FFF , 1578px 1147px #FFF , 1738px 1753px #FFF , 883px 1310px #FFF , 861px 1644px #FFF , 1483px 747px #FFF , 1605px 973px #FFF , 103px 216px #FFF , 1181px 1192px #FFF , 1701px 1551px #FFF , 1798px 548px #FFF , 1059px 1836px #FFF , 1867px 1650px #FFF , 1193px 576px #FFF , 1416px 1133px #FFF , 1746px 300px #FFF , 1822px 1515px #FFF , 1767px 675px #FFF , 141px 516px #FFF , 959px 477px #FFF , 95px 606px #FFF , 327px 1022px #FFF , 1746px 1961px #FFF , 1731px 723px #FFF , 1656px 1932px #FFF , 1471px 28px #FFF , 540px 588px #FFF , 1028px 366px #FFF , 1543px 1711px #FFF , 887px 618px #FFF , 1023px 438px #FFF , 1476px 1659px #FFF , 991px 665px #FFF , 755px 957px #FFF , 1596px 1595px #FFF , 476px 388px #FFF , 216px 675px #FFF , 241px 1946px #FFF , 763px 435px #FFF , 1179px 856px #FFF , 1100px 696px #FFF , 375px 392px #FFF , 313px 734px #FFF , 1768px 1774px #FFF , 483px 1275px #FFF , 1204px 359px #FFF , 792px 389px #FFF , 1981px 397px #FFF , 1035px 256px #FFF , 601px 1075px #FFF , 911px 928px #FFF , 1765px 77px #FFF , 1742px 602px #FFF , 802px 1967px #FFF , 66px 1730px #FFF , 1414px 1781px #FFF , 1514px 1624px #FFF , 1717px 1116px #FFF , 421px 1830px #FFF , 1382px 658px #FFF , 1233px 1965px #FFF , 74px 221px #FFF , 1036px 1429px #FFF , 366px 1506px #FFF , 764px 904px #FFF , 1656px 1817px #FFF , 1358px 848px #FFF , 368px 571px #FFF , 1546px 1896px #FFF , 1641px 970px #FFF , 1511px 1370px #FFF , 455px 123px #FFF , 1073px 32px #FFF , 320px 1467px #FFF , 797px 918px #FFF , 538px 520px #FFF , 163px 1144px #FFF , 1425px 1072px #FFF , 758px 268px #FFF , 1187px 1033px #FFF , 907px 610px #FFF , 331px 927px #FFF , 1511px 1484px #FFF , 1135px 879px #FFF , 1175px 168px #FFF , 251px 1318px #FFF , 1568px 1527px #FFF , 1019px 147px #FFF , 1954px 899px #FFF , 331px 1808px #FFF , 439px 401px #FFF , 1044px 1043px #FFF , 886px 1976px #FFF , 563px 1639px #FFF , 320px 898px #FFF , 1853px 56px #FFF , 601px 1261px #FFF , 1227px 1865px #FFF , 20px 433px #FFF , 136px 681px #FFF , 1368px 381px #FFF , 861px 1735px #FFF , 1289px 1883px #FFF , 606px 190px #FFF , 498px 1556px #FFF , 1090px 1196px #FFF , 1216px 1229px #FFF , 1671px 1764px #FFF , 1276px 1864px #FFF , 1648px 428px #FFF , 612px 671px #FFF , 1217px 1198px #FFF , 1569px 60px #FFF , 1928px 730px #FFF , 1918px 1481px #FFF , 1130px 251px #FFF , 561px 1378px #FFF , 208px 1065px #FFF , 870px 1583px #FFF , 841px 568px #FFF , 563px 377px #FFF , 845px 1239px #FFF , 221px 531px #FFF , 1948px 1351px #FFF , 78px 1768px #FFF , 39px 669px #FFF , 1615px 633px #FFF , 1506px 710px #FFF , 1550px 620px #FFF , 1137px 587px #FFF , 1389px 1548px #FFF , 403px 16px #FFF , 1283px 1896px #FFF , 911px 1105px #FFF , 389px 1846px #FFF , 1851px 200px #FFF , 142px 1628px #FFF , 1914px 1467px #FFF , 915px 886px #FFF , 1073px 49px #FFF , 169px 510px #FFF , 1290px 1711px #FFF , 1239px 1535px #FFF , 707px 1917px #FFF , 723px 355px #FFF , 1145px 1929px #FFF , 1082px 1834px #FFF , 128px 19px #FFF , 1810px 1424px #FFF , 1877px 447px #FFF , 34px 893px #FFF , 549px 1446px #FFF , 888px 1286px #FFF , 1837px 82px #FFF , 1701px 1560px #FFF , 460px 587px #FFF , 1827px 288px #FFF , 1037px 383px #FFF , 700px 140px #FFF , 556px 194px #FFF , 1147px 1301px #FFF , 1861px 55px #FFF , 854px 226px #FFF , 1571px 326px #FFF , 1341px 1291px #FFF , 976px 576px #FFF , 1477px 1924px #FFF , 712px 248px #FFF , 557px 1423px #FFF , 661px 849px #FFF , 374px 1227px #FFF , 298px 1272px #FFF , 1505px 1574px #FFF , 255px 1026px #FFF , 1906px 1356px #FFF , 1048px 250px #FFF , 1971px 1637px #FFF , 1831px 346px #FFF , 1389px 1383px #FFF , 727px 430px #FFF , 497px 207px #FFF , 1045px 1077px #FFF , 347px 1977px #FFF , 618px 1511px #FFF , 642px 1828px #FFF , 1171px 1039px #FFF , 1625px 1805px #FFF , 739px 108px #FFF , 1073px 1039px #FFF , 1480px 1530px #FFF , 889px 818px #FFF , 949px 1106px #FFF , 1433px 175px #FFF , 1458px 1573px #FFF , 1622px 1897px #FFF , 361px 986px #FFF , 231px 1669px #FFF , 945px 1545px #FFF , 62px 922px #FFF , 1015px 102px #FFF , 742px 254px #FFF , 1732px 1528px #FFF , 67px 438px #FFF , 1196px 24px #FFF , 574px 165px #FFF , 361px 1007px #FFF , 311px 1541px #FFF , 535px 42px #FFF , 1750px 481px #FFF , 1817px 489px #FFF , 439px 1556px #FFF , 1953px 1722px #FFF , 1712px 1600px #FFF , 1769px 1978px #FFF , 658px 1582px #FFF , 1849px 1845px #FFF , 1709px 1401px #FFF , 836px 680px #FFF , 1798px 1747px #FFF , 684px 1852px #FFF , 1575px 538px #FFF , 667px 468px #FFF , 742px 1595px #FFF , 1882px 1144px #FFF , 533px 1901px #FFF , 1950px 1346px #FFF , 771px 1337px #FFF , 1410px 662px #FFF , 334px 1021px #FFF , 1010px 1521px #FFF , 1801px 121px #FFF , 649px 1074px #FFF , 628px 330px #FFF , 1801px 216px #FFF , 669px 508px #FFF , 1859px 1188px #FFF , 189px 1892px #FFF , 1225px 793px #FFF , 1888px 1515px #FFF , 773px 939px #FFF , 1169px 773px #FFF , 1737px 645px #FFF , 1102px 173px #FFF , 200px 58px #FFF , 1891px 1595px #FFF , 1961px 1473px #FFF , 1418px 784px #FFF , 77px 1260px #FFF , 1567px 1871px #FFF , 1553px 523px #FFF , 1420px 1697px #FFF , 1111px 1884px #FFF , 685px 610px #FFF , 1471px 326px #FFF , 1931px 886px #FFF , 745px 1216px #FFF , 516px 165px #FFF , 1625px 487px #FFF , 1205px 450px #FFF , 283px 1614px #FFF , 893px 451px #FFF , 698px 1697px #FFF , 1365px 2px #FFF , 1425px 1201px #FFF , 323px 750px #FFF , 1119px 381px #FFF , 1512px 1869px #FFF , 1120px 14px #FFF , 1842px 424px #FFF , 1314px 1562px #FFF , 911px 310px #FFF , 349px 1850px #FFF , 1296px 662px #FFF , 1096px 107px #FFF , 1373px 513px #FFF , 1172px 211px #FFF , 419px 1153px #FFF , 1406px 276px #FFF , 1186px 1378px #FFF , 1651px 1017px #FFF , 1099px 252px #FFF , 410px 1467px #FFF , 1659px 650px #FFF , 775px 415px #FFF , 1779px 582px #FFF , 1856px 426px #FFF , 1609px 230px #FFF , 1165px 1883px #FFF , 1131px 1792px #FFF , 1648px 1730px #FFF , 856px 1353px #FFF , 1145px 187px #FFF , 217px 640px #FFF , 1668px 33px #FFF , 122px 1713px #FFF , 1534px 391px #FFF , 464px 1401px #FFF , 772px 407px #FFF , 1188px 1104px #FFF , 1743px 208px #FFF , 389px 1357px #FFF , 637px 1777px #FFF , 1124px 556px #FFF , 815px 549px #FFF , 1499px 848px #FFF , 491px 160px #FFF , 915px 1142px #FFF , 1780px 1317px #FFF , 1473px 1640px #FFF , 461px 1685px #FFF , 148px 462px #FFF , 333px 1135px #FFF , 21px 1644px #FFF , 811px 1758px #FFF , 1969px 555px #FFF , 1103px 647px #FFF , 516px 1878px #FFF , 1383px 1606px #FFF , 754px 1803px #FFF , 285px 562px #FFF , 1867px 1608px #FFF , 1230px 1962px #FFF , 674px 1042px #FFF , 762px 193px #FFF , 791px 675px #FFF , 355px 841px #FFF , 1338px 257px #FFF , 1187px 1913px #FFF , 1929px 1387px #FFF , 713px 1146px #FFF , 540px 310px #FFF , 1663px 1419px #FFF , 613px 1283px #FFF , 1396px 1895px #FFF , 982px 1547px #FFF , 1639px 1447px #FFF , 462px 1456px #FFF , 1047px 633px #FFF , 719px 839px #FFF , 1357px 1833px #FFF , 1709px 335px #FFF , 101px 1451px #FFF , 1816px 1191px #FFF , 1229px 244px #FFF , 488px 381px #FFF , 1898px 266px #FFF , 1251px 483px #FFF , 584px 1385px #FFF , 1903px 324px #FFF , 1213px 1333px #FFF , 1518px 1172px #FFF , 804px 1085px #FFF , 1948px 181px #FFF , 538px 1949px #FFF , 1407px 149px #FFF , 504px 393px #FFF , 1348px 206px #FFF , 591px 233px #FFF , 1869px 1321px #FFF , 1439px 1385px #FFF , 862px 1584px #FFF , 1182px 115px #FFF , 1576px 731px #FFF , 1406px 292px #FFF , 406px 320px #FFF , 633px 1982px #FFF , 542px 1132px #FFF , 1480px 1773px #FFF , 49px 248px #FFF , 1564px 131px #FFF , 1325px 755px #FFF , 534px 1009px #FFF , 1326px 182px #FFF , 961px 1985px #FFF , 471px 535px #FFF , 1510px 908px #FFF , 695px 1244px #FFF , 188px 427px #FFF , 1068px 1814px #FFF , 499px 1578px #FFF , 145px 1023px #FFF , 152px 153px #FFF , 350px 698px #FFF , 1005px 241px #FFF , 200px 1251px #FFF , 1724px 241px #FFF , 628px 1018px #FFF , 787px 239px #FFF , 224px 40px #FFF , 104px 1298px #FFF , 1692px 1482px #FFF , 1906px 571px #FFF , 1226px 1062px #FFF , 603px 109px #FFF , 1766px 551px #FFF , 307px 1004px #FFF , 577px 1401px #FFF , 197px 1700px #FFF , 1155px 1089px #FFF , 1300px 1555px #FFF , 1019px 158px #FFF , 1039px 1845px #FFF , 605px 328px #FFF , 1046px 1027px #FFF , 1134px 1134px #FFF , 120px 77px #FFF , 1628px 148px #FFF , 1016px 1529px #FFF , 1542px 1638px #FFF , 364px 149px #FFF , 429px 1082px #FFF , 950px 362px #FFF , 1114px 1798px #FFF , 722px 510px #FFF , 1916px 1229px #FFF , 247px 86px #FFF , 1338px 323px #FFF , 1565px 1087px #FFF , 1692px 308px #FFF , 363px 125px #FFF , 1942px 1854px #FFF , 1483px 1976px #FFF , 1069px 821px #FFF , 305px 1555px #FFF , 77px 1716px #FFF , 702px 1148px #FFF , 1025px 847px #FFF , 1201px 1275px #FFF , 363px 1693px #FFF , 1346px 1255px #FFF , 1621px 1033px #FFF , 1073px 1104px #FFF , 622px 1521px #FFF , 1338px 1683px #FFF , 619px 1883px #FFF , 111px 1694px #FFF , 946px 895px #FFF , 23px 169px #FFF , 458px 1752px #FFF , 1160px 1570px #FFF , 1689px 14px #FFF , 728px 657px #FFF , 1912px 1173px #FFF , 818px 1685px #FFF , 1501px 327px #FFF , 913px 1353px #FFF , 807px 757px #FFF , 1384px 930px #FFF , 1458px 485px #FFF , 1495px 1397px #FFF , 615px 1486px #FFF , 525px 909px #FFF , 1165px 1299px #FFF; }

.aboutme__star--medium {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1534px 438px #FFF , 282px 513px #FFF , 1838px 882px #FFF , 1821px 1774px #FFF , 12px 516px #FFF , 747px 498px #FFF , 1345px 1878px #FFF , 1903px 1848px #FFF , 231px 271px #FFF , 445px 273px #FFF , 356px 248px #FFF , 957px 1872px #FFF , 768px 1914px #FFF , 959px 150px #FFF , 152px 1950px #FFF , 459px 622px #FFF , 1579px 680px #FFF , 1193px 751px #FFF , 781px 229px #FFF , 1221px 946px #FFF , 1767px 1328px #FFF , 478px 11px #FFF , 777px 235px #FFF , 1106px 866px #FFF , 1852px 193px #FFF , 527px 374px #FFF , 1613px 353px #FFF , 875px 47px #FFF , 1519px 365px #FFF , 365px 705px #FFF , 165px 565px #FFF , 1966px 1438px #FFF , 1749px 522px #FFF , 1741px 1054px #FFF , 1158px 755px #FFF , 447px 376px #FFF , 137px 1554px #FFF , 1055px 1373px #FFF , 1161px 522px #FFF , 1854px 1128px #FFF , 290px 1022px #FFF , 114px 1176px #FFF , 1370px 34px #FFF , 768px 1247px #FFF , 591px 995px #FFF , 1335px 923px #FFF , 1036px 439px #FFF , 307px 67px #FFF , 1216px 477px #FFF , 1833px 241px #FFF , 495px 1020px #FFF , 588px 1247px #FFF , 1938px 1681px #FFF , 1399px 1175px #FFF , 775px 1357px #FFF , 1103px 1202px #FFF , 1547px 1139px #FFF , 1726px 1002px #FFF , 1332px 1293px #FFF , 108px 459px #FFF , 1054px 1828px #FFF , 825px 1938px #FFF , 1668px 1806px #FFF , 933px 1657px #FFF , 974px 823px #FFF , 845px 354px #FFF , 267px 1157px #FFF , 1828px 1263px #FFF , 396px 1060px #FFF , 270px 1102px #FFF , 1853px 809px #FFF , 1206px 100px #FFF , 321px 1461px #FFF , 1676px 435px #FFF , 1083px 1321px #FFF , 736px 661px #FFF , 903px 751px #FFF , 222px 1475px #FFF , 1518px 1967px #FFF , 1315px 1038px #FFF , 353px 1683px #FFF , 953px 180px #FFF , 1022px 1457px #FFF , 164px 435px #FFF , 1405px 759px #FFF , 1659px 556px #FFF , 623px 571px #FFF , 916px 1433px #FFF , 556px 81px #FFF , 1162px 1456px #FFF , 250px 669px #FFF , 104px 1848px #FFF , 343px 1143px #FFF , 1696px 1097px #FFF , 258px 715px #FFF , 1080px 1555px #FFF , 97px 541px #FFF , 643px 1031px #FFF , 1183px 1590px #FFF , 1259px 983px #FFF , 1483px 1154px #FFF , 259px 98px #FFF , 1438px 311px #FFF , 1718px 1893px #FFF , 795px 1798px #FFF , 587px 1892px #FFF , 1910px 989px #FFF , 1170px 1315px #FFF , 437px 919px #FFF , 240px 1928px #FFF , 1388px 395px #FFF , 1838px 1043px #FFF , 180px 222px #FFF , 1378px 989px #FFF , 810px 578px #FFF , 1639px 200px #FFF , 189px 1772px #FFF , 1704px 283px #FFF , 1183px 570px #FFF , 377px 1492px #FFF , 604px 1981px #FFF , 1803px 437px #FFF , 1963px 1513px #FFF , 772px 1578px #FFF , 1978px 319px #FFF , 172px 1604px #FFF , 379px 1948px #FFF , 1325px 1185px #FFF , 225px 208px #FFF , 479px 1273px #FFF , 1540px 97px #FFF , 1831px 1518px #FFF , 20px 500px #FFF , 951px 1818px #FFF , 1016px 39px #FFF , 431px 892px #FFF , 206px 307px #FFF , 627px 1294px #FFF , 887px 1857px #FFF , 340px 1334px #FFF , 2000px 1972px #FFF , 106px 1756px #FFF , 1972px 656px #FFF , 1902px 122px #FFF , 241px 202px #FFF , 1184px 874px #FFF , 1550px 1181px #FFF , 202px 1853px #FFF , 1021px 1550px #FFF , 1090px 87px #FFF , 16px 197px #FFF , 492px 233px #FFF , 724px 1264px #FFF , 1004px 370px #FFF , 139px 611px #FFF , 1114px 848px #FFF , 20px 885px #FFF , 1208px 97px #FFF , 1698px 1058px #FFF , 103px 565px #FFF , 1810px 1688px #FFF , 76px 747px #FFF , 681px 1625px #FFF , 1779px 1765px #FFF , 1488px 1822px #FFF , 1007px 1989px #FFF , 425px 1736px #FFF , 1878px 806px #FFF , 292px 1670px #FFF , 1081px 1162px #FFF , 1149px 588px #FFF , 706px 733px #FFF , 402px 1404px #FFF , 694px 224px #FFF , 407px 1868px #FFF , 1110px 792px #FFF , 961px 541px #FFF , 1094px 185px #FFF , 1316px 405px #FFF , 837px 1821px #FFF , 1435px 1189px #FFF , 894px 1606px #FFF , 1668px 103px #FFF , 86px 728px #FFF , 1781px 1397px #FFF , 1505px 1335px #FFF , 1014px 331px #FFF , 724px 1435px #FFF , 796px 156px #FFF , 431px 1916px #FFF , 666px 1844px #FFF , 1439px 1346px #FFF , 1443px 90px #FFF , 489px 1989px #FFF , 1665px 261px #FFF , 279px 1001px #FFF , 813px 964px #FFF , 554px 80px #FFF , 1549px 1106px #FFF , 809px 1384px #FFF;
  animation: animStar 100s linear infinite; }
  .aboutme__star--medium:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1534px 438px #FFF , 282px 513px #FFF , 1838px 882px #FFF , 1821px 1774px #FFF , 12px 516px #FFF , 747px 498px #FFF , 1345px 1878px #FFF , 1903px 1848px #FFF , 231px 271px #FFF , 445px 273px #FFF , 356px 248px #FFF , 957px 1872px #FFF , 768px 1914px #FFF , 959px 150px #FFF , 152px 1950px #FFF , 459px 622px #FFF , 1579px 680px #FFF , 1193px 751px #FFF , 781px 229px #FFF , 1221px 946px #FFF , 1767px 1328px #FFF , 478px 11px #FFF , 777px 235px #FFF , 1106px 866px #FFF , 1852px 193px #FFF , 527px 374px #FFF , 1613px 353px #FFF , 875px 47px #FFF , 1519px 365px #FFF , 365px 705px #FFF , 165px 565px #FFF , 1966px 1438px #FFF , 1749px 522px #FFF , 1741px 1054px #FFF , 1158px 755px #FFF , 447px 376px #FFF , 137px 1554px #FFF , 1055px 1373px #FFF , 1161px 522px #FFF , 1854px 1128px #FFF , 290px 1022px #FFF , 114px 1176px #FFF , 1370px 34px #FFF , 768px 1247px #FFF , 591px 995px #FFF , 1335px 923px #FFF , 1036px 439px #FFF , 307px 67px #FFF , 1216px 477px #FFF , 1833px 241px #FFF , 495px 1020px #FFF , 588px 1247px #FFF , 1938px 1681px #FFF , 1399px 1175px #FFF , 775px 1357px #FFF , 1103px 1202px #FFF , 1547px 1139px #FFF , 1726px 1002px #FFF , 1332px 1293px #FFF , 108px 459px #FFF , 1054px 1828px #FFF , 825px 1938px #FFF , 1668px 1806px #FFF , 933px 1657px #FFF , 974px 823px #FFF , 845px 354px #FFF , 267px 1157px #FFF , 1828px 1263px #FFF , 396px 1060px #FFF , 270px 1102px #FFF , 1853px 809px #FFF , 1206px 100px #FFF , 321px 1461px #FFF , 1676px 435px #FFF , 1083px 1321px #FFF , 736px 661px #FFF , 903px 751px #FFF , 222px 1475px #FFF , 1518px 1967px #FFF , 1315px 1038px #FFF , 353px 1683px #FFF , 953px 180px #FFF , 1022px 1457px #FFF , 164px 435px #FFF , 1405px 759px #FFF , 1659px 556px #FFF , 623px 571px #FFF , 916px 1433px #FFF , 556px 81px #FFF , 1162px 1456px #FFF , 250px 669px #FFF , 104px 1848px #FFF , 343px 1143px #FFF , 1696px 1097px #FFF , 258px 715px #FFF , 1080px 1555px #FFF , 97px 541px #FFF , 643px 1031px #FFF , 1183px 1590px #FFF , 1259px 983px #FFF , 1483px 1154px #FFF , 259px 98px #FFF , 1438px 311px #FFF , 1718px 1893px #FFF , 795px 1798px #FFF , 587px 1892px #FFF , 1910px 989px #FFF , 1170px 1315px #FFF , 437px 919px #FFF , 240px 1928px #FFF , 1388px 395px #FFF , 1838px 1043px #FFF , 180px 222px #FFF , 1378px 989px #FFF , 810px 578px #FFF , 1639px 200px #FFF , 189px 1772px #FFF , 1704px 283px #FFF , 1183px 570px #FFF , 377px 1492px #FFF , 604px 1981px #FFF , 1803px 437px #FFF , 1963px 1513px #FFF , 772px 1578px #FFF , 1978px 319px #FFF , 172px 1604px #FFF , 379px 1948px #FFF , 1325px 1185px #FFF , 225px 208px #FFF , 479px 1273px #FFF , 1540px 97px #FFF , 1831px 1518px #FFF , 20px 500px #FFF , 951px 1818px #FFF , 1016px 39px #FFF , 431px 892px #FFF , 206px 307px #FFF , 627px 1294px #FFF , 887px 1857px #FFF , 340px 1334px #FFF , 2000px 1972px #FFF , 106px 1756px #FFF , 1972px 656px #FFF , 1902px 122px #FFF , 241px 202px #FFF , 1184px 874px #FFF , 1550px 1181px #FFF , 202px 1853px #FFF , 1021px 1550px #FFF , 1090px 87px #FFF , 16px 197px #FFF , 492px 233px #FFF , 724px 1264px #FFF , 1004px 370px #FFF , 139px 611px #FFF , 1114px 848px #FFF , 20px 885px #FFF , 1208px 97px #FFF , 1698px 1058px #FFF , 103px 565px #FFF , 1810px 1688px #FFF , 76px 747px #FFF , 681px 1625px #FFF , 1779px 1765px #FFF , 1488px 1822px #FFF , 1007px 1989px #FFF , 425px 1736px #FFF , 1878px 806px #FFF , 292px 1670px #FFF , 1081px 1162px #FFF , 1149px 588px #FFF , 706px 733px #FFF , 402px 1404px #FFF , 694px 224px #FFF , 407px 1868px #FFF , 1110px 792px #FFF , 961px 541px #FFF , 1094px 185px #FFF , 1316px 405px #FFF , 837px 1821px #FFF , 1435px 1189px #FFF , 894px 1606px #FFF , 1668px 103px #FFF , 86px 728px #FFF , 1781px 1397px #FFF , 1505px 1335px #FFF , 1014px 331px #FFF , 724px 1435px #FFF , 796px 156px #FFF , 431px 1916px #FFF , 666px 1844px #FFF , 1439px 1346px #FFF , 1443px 90px #FFF , 489px 1989px #FFF , 1665px 261px #FFF , 279px 1001px #FFF , 813px 964px #FFF , 554px 80px #FFF , 1549px 1106px #FFF , 809px 1384px #FFF; }

.aboutme__star--large {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1271px 1164px #FFF , 1405px 533px #FFF , 944px 1541px #FFF , 558px 1092px #FFF , 1151px 1851px #FFF , 78px 4px #FFF , 945px 819px #FFF , 1668px 437px #FFF , 733px 322px #FFF , 306px 1550px #FFF , 1463px 1149px #FFF , 1324px 1239px #FFF , 1740px 1337px #FFF , 200px 577px #FFF , 1908px 899px #FFF , 1236px 677px #FFF , 1857px 958px #FFF , 532px 534px #FFF , 1194px 1377px #FFF , 390px 500px #FFF , 723px 1884px #FFF , 869px 1680px #FFF , 772px 1096px #FFF , 1326px 1732px #FFF , 811px 206px #FFF , 717px 192px #FFF , 1684px 63px #FFF , 1119px 1078px #FFF , 652px 1966px #FFF , 672px 1050px #FFF , 357px 1218px #FFF , 1552px 383px #FFF , 910px 553px #FFF , 1815px 1262px #FFF , 1334px 1408px #FFF , 749px 54px #FFF , 450px 357px #FFF , 679px 1399px #FFF , 1399px 434px #FFF , 396px 207px #FFF , 58px 1788px #FFF , 1832px 898px #FFF , 885px 649px #FFF , 1286px 765px #FFF , 917px 1050px #FFF , 1273px 906px #FFF , 1377px 1289px #FFF , 1120px 1458px #FFF , 1323px 299px #FFF , 1477px 940px #FFF , 1985px 303px #FFF , 437px 1267px #FFF , 1469px 737px #FFF , 1106px 1299px #FFF , 1576px 1841px #FFF , 1436px 32px #FFF , 1526px 612px #FFF , 1848px 1233px #FFF , 1207px 1513px #FFF , 1381px 1133px #FFF , 1109px 1733px #FFF , 1819px 932px #FFF , 1125px 1700px #FFF , 338px 1628px #FFF , 996px 209px #FFF , 1178px 1127px #FFF , 1636px 1714px #FFF , 461px 1075px #FFF , 1945px 1043px #FFF , 561px 310px #FFF , 1507px 760px #FFF , 331px 1490px #FFF , 1251px 1039px #FFF , 1978px 1843px #FFF , 530px 1789px #FFF , 1800px 561px #FFF , 1145px 1196px #FFF , 772px 588px #FFF , 1120px 951px #FFF , 118px 1370px #FFF , 823px 1441px #FFF , 601px 214px #FFF , 1132px 503px #FFF , 501px 1659px #FFF , 739px 254px #FFF , 774px 739px #FFF , 1443px 1419px #FFF , 1990px 438px #FFF , 1701px 895px #FFF , 375px 698px #FFF , 1604px 116px #FFF , 1244px 858px #FFF , 346px 1103px #FFF , 1630px 343px #FFF , 1512px 1765px #FFF , 1799px 1760px #FFF , 793px 894px #FFF , 1858px 20px #FFF , 1017px 1985px #FFF , 938px 157px #FFF;
  animation: animStar 150s linear infinite; }
  .aboutme__star--large:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1271px 1164px #FFF , 1405px 533px #FFF , 944px 1541px #FFF , 558px 1092px #FFF , 1151px 1851px #FFF , 78px 4px #FFF , 945px 819px #FFF , 1668px 437px #FFF , 733px 322px #FFF , 306px 1550px #FFF , 1463px 1149px #FFF , 1324px 1239px #FFF , 1740px 1337px #FFF , 200px 577px #FFF , 1908px 899px #FFF , 1236px 677px #FFF , 1857px 958px #FFF , 532px 534px #FFF , 1194px 1377px #FFF , 390px 500px #FFF , 723px 1884px #FFF , 869px 1680px #FFF , 772px 1096px #FFF , 1326px 1732px #FFF , 811px 206px #FFF , 717px 192px #FFF , 1684px 63px #FFF , 1119px 1078px #FFF , 652px 1966px #FFF , 672px 1050px #FFF , 357px 1218px #FFF , 1552px 383px #FFF , 910px 553px #FFF , 1815px 1262px #FFF , 1334px 1408px #FFF , 749px 54px #FFF , 450px 357px #FFF , 679px 1399px #FFF , 1399px 434px #FFF , 396px 207px #FFF , 58px 1788px #FFF , 1832px 898px #FFF , 885px 649px #FFF , 1286px 765px #FFF , 917px 1050px #FFF , 1273px 906px #FFF , 1377px 1289px #FFF , 1120px 1458px #FFF , 1323px 299px #FFF , 1477px 940px #FFF , 1985px 303px #FFF , 437px 1267px #FFF , 1469px 737px #FFF , 1106px 1299px #FFF , 1576px 1841px #FFF , 1436px 32px #FFF , 1526px 612px #FFF , 1848px 1233px #FFF , 1207px 1513px #FFF , 1381px 1133px #FFF , 1109px 1733px #FFF , 1819px 932px #FFF , 1125px 1700px #FFF , 338px 1628px #FFF , 996px 209px #FFF , 1178px 1127px #FFF , 1636px 1714px #FFF , 461px 1075px #FFF , 1945px 1043px #FFF , 561px 310px #FFF , 1507px 760px #FFF , 331px 1490px #FFF , 1251px 1039px #FFF , 1978px 1843px #FFF , 530px 1789px #FFF , 1800px 561px #FFF , 1145px 1196px #FFF , 772px 588px #FFF , 1120px 951px #FFF , 118px 1370px #FFF , 823px 1441px #FFF , 601px 214px #FFF , 1132px 503px #FFF , 501px 1659px #FFF , 739px 254px #FFF , 774px 739px #FFF , 1443px 1419px #FFF , 1990px 438px #FFF , 1701px 895px #FFF , 375px 698px #FFF , 1604px 116px #FFF , 1244px 858px #FFF , 346px 1103px #FFF , 1630px 343px #FFF , 1512px 1765px #FFF , 1799px 1760px #FFF , 793px 894px #FFF , 1858px 20px #FFF , 1017px 1985px #FFF , 938px 157px #FFF; }

.aboutme__descripion {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  color: #fff;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  padding-left: 10px; }

.aboutme__descripion__span,
.aboutme__descripion__title,
.aboutme__desctiption_stack__wrapper__icon__text {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1px 8px; }
  .aboutme__descripion__span::before,
  .aboutme__descripion__title::before,
  .aboutme__desctiption_stack__wrapper__icon__text::before {
    content: "\A";
    white-space: pre; }

.aboutme__descripion__span {
  font-size: 1.5rem; }

.aboutme__descripion__title {
  font-size: 2.5rem;
  margin-bottom: 30px; }

.aboutme__descripion__stack__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.aboutme__descripion__stack__wrapper + .aboutme__descripion__stack__wrapper {
  margin-top: 30px; }

.aboutme__desctiption_stack__wrapper__icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.aboutme__desctiption_stack__wrapper__icon i {
  cursor: pointer; }

.aboutme__desctiption_stack__wrapper__icon i:hover + .aboutme__desctiption_stack__wrapper__icon__text {
  display: flex; }

.aboutme__desctiption_stack__wrapper__icon__text {
  position: absolute;
  top: 50%;
  left: calc(50% + 70px);
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  margin-left: 10px;
  font-size: 1.5rem; }

@keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }

@media (max-width: 1919px) {
  .aboutme__descripion__stack__wrapper + .aboutme__descripion__stack__wrapper {
    margin-top: 20px; } }

@media (max-width: 1365px) {
  .aboutme__descripion__stack__wrapper + .aboutme__descripion__stack__wrapper {
    margin-top: 15px; } }

@media (max-width: 1023px) {
  .aboutme {
    height: 150vh; }
  .aboutme__descripion {
    height: 100%;
    font-size: 28px; } }

.projects {
  position: relative;
  height: 100vh;
  background-color: black;
  overflow: hidden; }

.projects__items {
  position: absolute;
  bottom: -40px;
  display: flex;
  height: 80%;
  width: auto; }

.projects__items__info {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  text-align: center; }

.projects__items__info__h1 {
  font-size: 2rem;
  font-weight: bold; }

.projects__items__item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  transition: 0.2s ease-in-out; }

.projects__items__item__desktop {
  box-sizing: content-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  border: solid grey 22px;
  border-radius: 50px;
  background-color: black; }
  .projects__items__item__desktop::before {
    box-sizing: content-box;
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: solid black 20px;
    z-index: 3;
    cursor: default; }
  .projects__items__item__desktop:hover .projects__items__item__desktop__shorts {
    height: calc(100% + 40px);
    visibility: visible; }

.projects__items__item__desktop__shorts {
  position: absolute;
  top: -20px;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 50px;
  transition: height 0.5s; }

.projects__items__item__desktop__shorts__icons {
  display: flex;
  width: 100%;
  justify-content: space-around; }

.projects__items__item__desktop__shorts__icons__a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 200px;
  background-color: #7fcd91;
  text-decoration: none;
  color: #f5eaea;
  font-size: 1.5rem;
  letter-spacing: 2px;
  transition: 0.2s; }
  .projects__items__item__desktop__shorts__icons__a:hover {
    background-color: #5dc074;
    font-size: 1.6rem; }

.projects__items__item__desktop__photo {
  display: block;
  height: calc(100% - 40px);
  margin-bottom: 40px;
  object-fit: cover; }

.projects__items__item__mobile {
  box-sizing: content-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  margin-left: 30px;
  border: solid grey 11px;
  border-radius: 20px; }
  .projects__items__item__mobile::before {
    content: "";
    box-sizing: content-box;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    border: solid black 10px;
    border-radius: 20px; }
  .projects__items__item__mobile:hover .projects__items__item__mobile__shorts {
    height: 100%;
    visibility: visible; }

.projects__items__item__mobile__photo {
  display: block;
  height: calc(100% - 30px);
  object-fit: cover; }

.projects__items__item__mobile__shorts {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.85);
  transition: height 0.5s; }

.projects__items__item__mobile__shorts__icons {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center; }

.projects__items__item__mobile__shorts__icons__a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  background-color: #7fcd91;
  text-decoration: none;
  color: #f5eaea;
  font-size: 1.5rem;
  letter-spacing: 2px;
  transition: 0.2s; }
  .projects__items__item__mobile__shorts__icons__a:hover {
    background-color: #5dc074;
    font-size: 1.6rem; }

.projects__items__item__mobile__downbar {
  display: flex;
  justify-content: center;
  align-items: center; }

.projects__items__item__mobile__downbar__circle {
  width: 15px;
  height: 15px;
  margin: 5px 0;
  border: solid grey 2px;
  border-radius: 50%; }

.projects__items__item__info {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 10px;
  width: 150px; }

.projects__items__item__info__text-primary {
  color: white;
  font-size: 3rem;
  font-weight: bold; }

.projects__items__item__info__text-secondary {
  color: grey;
  font-size: 2rem; }

.projects__title__h1 {
  white-space: nowrap;
  color: rgba(220, 220, 220, 0.15);
  font-size: 9rem; }

.item-circle__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 3rem;
  border-radius: 50%;
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

